<article>
  <!-- Content -->
  <div class="content">
    <div>
      <div>
        <h3>
          <a 
            [routerLink]="['/projects', project.slug]"
            class="link-accent"
          >
            {{ project.title }}
            <svg 
              fill="none" 
              stroke="currentColor" 
              viewBox="0 0 24 24"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </a>
        </h3>
        @if (project.status) {
          <span 
            class="status-badge"
            [ngClass]="getProjectStatusClass(project.status)"
          >
            {{ getProjectStatusLabel(project.status) }}
          </span>
        }
      </div>
      
      <p>
        {{ project.description }}
      </p>
      
      <ul>
        @for (tech of project.tech; track tech) {
          <li>
            <span>{{ tech }}</span>
          </li>
        }
      </ul>
    </div>
  </div>
  
  <!-- Image -->
  <div class="image-wrapper">
    <a 
      [routerLink]="['/projects', project.slug]"
    >
      <img 
        [src]="project.image" 
        [alt]="project.title"
      />
    </a>
  </div>
</article>
